client/eslint.config.js
client/index.html
client/package-lock.json
client/package.json
client/README.md
client/vite.config.js
client/public/vite.svg
client/src/App.jsx
client/src/index.css
client/src/main.jsx
client/src/components/Nav.jsx
client/src/pages/Dashboard.jsx
client/src/pages/Home.jsx
client/src/pages/Signin.jsx
client/src/pages/Signup.jsx
client/src/pages/Verify.jsx
