client/src/App.jsx
client/src/index.css
client/src/main.jsx
client/src/components/Nav.jsx
client/src/pages/Dashboard.jsx
client/src/pages/Home.jsx
client/src/pages/Signin.jsx
client/src/pages/Signup.jsx
client/src/pages/Verify.jsx
.gitignore
